<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="item-listings-table">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Image</th>
                <th scope="col" class="px-6 py-3">Item Name</th>
                <th scope="col" class="px-6 py-3">Rarity</th>
                <th scope="col" class="px-6 py-3">Price</th>
                <th scope="col" class="px-6 py-3">Seller</th>
                <th scope="col" class="px-6 py-3">Listed on</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="listing : ${listings}" class="listing-row">
                <td class="px-6 py-4">
                    <img class="w-16 h-16 object-cover rounded-lg" th:src="${listing.imageUrl}"
                         alt="item image">
                </td>
                <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    <a th:href="@{/market/item-listings(itemName=${listing.itemName})}"
                       th:text="${listing.itemName}"></a>
                </td>
                <td th:text="${listing.rarity}" class="px-6 py-4"></td>
                <td th:text="${'&pound;' + #numbers.formatDecimal(listing.price, 1, 'COMMA', 2, 'POINT')}"
                    class="px-6 py-4"></td>
                <td th:text="${listing.sellerName}" class="px-6 py-4"></td>
                <td th:text="${#temporals.format(listing.listedOn, 'dd/MM/yyyy')}" class="px-6 py-4"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
