<!-- src/main/resources/templates/layout.html -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="common-head">
    <!-- Common head elements here, e.g., meta tags, CDN links, CSS files -->
<!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.2/dist/full.min.css" rel="stylesheet" type="text/css" />-->
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title></title>
</head>
<body>

</body>
</html>
