<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Friend's Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/profile.css}" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2>Friend's Profile</h2>
    <div>
        <p><strong>First Name:</strong> <span th:text="${friend.firstName}">Friend's First Name</span></p>
        <p><strong>Last Name:</strong> <span th:text="${friend.lastName}">Friend's Last Name</span></p>
        <p><strong>Bio:</strong> <span th:text="${friend.bio}">Friend's Bio Here</span></p>
    </div>
</div>
<h2 class="category-title">Friend's Courses</h2>
<div class="cards">
    <section class="card" th:each="course : ${courses}">
        <div class="card-content">
            <h3 th:text="${course.title}"></h3>
            <p th:text="${course.duration}"></p>
            <div class="description-box">
                <p th:text="${course.description}"></p>
            </div>
            <p class="about-language" th:text="${course.language}"></p>
        </div>
    </section>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
