<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/leaderboard.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <title>Leaderboard</title>
</head>
<body>
<div class="lead-container">
    <div th:replace="~{fragments/header :: header}"></div>
    <h1 th:unless="${trial.id != null}" class="lead-title">Global leaderboard</h1>
    <h1 th:if="${trial.id != null}" class="lead-title" th:text="${trial.title} + ' Leaderboard'"></h1>
    <table class="lead-table">
        <thead>
        <tr>
            <th class="lead-thead-th">Rank</th>
            <th class="lead-thead-th">First Name</th>
            <th class="lead-thead-th">Last Name</th>
            <th th:unless="${trialLeaderboard == true}" class="lead-thead-th">Overall Points</th>
            <th th:if="${trialLeaderboard == true}" class="lead-thead-th">Trial Score</th>
        </tr>
        </thead>
        <tbody class="leaderboard-table">
        <tr class="lead-tbody-tr-hover" th:each="user, rank : ${users}"
            th:class="${user.id == userId ? 'lead-highlighted' : ''}">
            <td class="lead-tbody-td" th:text="${rank.index + 1}"></td>
            <td class="lead-tbody-td" th:text="${user.firstName}">First Name</td>
            <td class="lead-tbody-td" th:text="${user.lastName}">Last Name</td>
            <td th:unless="${trialLeaderboard == true}" class="lead-tbody-td" th:text="${user.overallPoints}">Overall Points</td>
            <td th:if="${trialLeaderboard == true}" class="lead-tbody-td" th:text="${user.trialScore}">Trial Score</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="lead-image-container lead-image-sticky">
    <img th:src="@{/img/courseXP.png}" alt="Course XP logo">
</div>

<script th:src="@{/js/leaderboard.js}"></script>
<script th:src="@{/js/landing.js}"></script>

</body>
</html>
