<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>

<div th:if="${param.logout}">
    <div class="logout-window" id="popup">
        <form th:action="@{/login}" method="post">
        <h2>Thank You</h2>
        <p>You have been logged out</p>
        <input type="submit" th:value="OK">
        </form>
    </div>
</div>
<div class="center" th:unless="${param.logout}">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="text_field">
            <input name="username" type="text" required>
            <span></span>
            <label> Username </label>
        </div>
        <div class="text_field">
            <input name="password" type="password" required>
            <span></span>
            <label> Password </label>
        </div>
        <div class="pass">
            <input type="submit" value="Sign In"/>
        </div>
    </form>
    <div class="register">
        <p>Don't have an account?<a style="color: #007bff" th:href="@{/register}"> Register</a></p>
    </div>
    <footer>
        <a th:href="@{/}">
            <img th:src="@{/img/courseXP.png}" alt="Course XP logo">
        </a>
    </footer>
</div>
</body>
</html>
