.header-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 15px;
}
.scrollable-table {
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}
.scrollable-table thead th{
    position: sticky;
    top: 0px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    background: #f9fafb;
}
.centered-heading {
    text-align: center;
    margin-top: 15px;
}
.profile-button {
    position: absolute;
    top: 5px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.profile-button i {
    font-size: 20px;
}
.profile-button .dropdown-menu {
    top: 70px;
    right: 0;
    min-width: 200px;
}