<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/navbar.css}" rel="stylesheet"/>
    <link th:href="@{/css/profile.css}" rel="stylesheet"/>
    <script th:src="@{/js/landing.js}"></script>
</head>
<body>

<div class="container mt-5">
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="profile-info">
                <h2>User Profile</h2>
                <p><strong>First Name:</strong> <span th:text="${user.firstName}">John</span></p>
                <p><strong>Last Name:</strong> <span th:text="${user.lastName}">Doe</span></p>
                <p><strong>Bio:</strong> <span th:text="${user.bio}">Your bio here</span></p>
            </div>
        </div>

        <div class="col-md-3">
            <h2>Edit Profile</h2>
            <form th:action="@{/profile}" method="post" th:object="${dto}">
                <div class="form-group">
                    <label for="firstName">First name:</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" th:value="*{firstName}">
                </div>
                <div class="form-group">
                    <label for="lastName">Last name:</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" th:value="*{lastName}">
                </div>
                <div class="form-group">
                    <label for="bio">Bio:</label>
                    <textarea id="bio" name="bio" rows="3" class="form-control" th:text="*{bio}"></textarea>
                </div>
                <input type="submit" value="Save Changes" class="btn btn-primary">
            </form>
        </div>

        <div class="col-md-3">
            <h2>Potential Friends</h2>
            <ul class="list-unstyled">
                <li th:each="user : ${potentialFriends}">
                    <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                    <form th:action="@{/addFriend}" method="post">
                        <input type="hidden" name="friendId" th:value="${user.id}" />
                        <input type="submit" value="Add Friend" class="btn btn-sm btn-secondary"/>
                    </form>
                </li>
            </ul>
        </div>

        <div class="col-md-3">
            <h2>Your Friends</h2>
            <ul class="list-unstyled">
                <li th:each="friend : ${user.friends}">
                    <a th:href="@{/friendProfile/{id}(id=${friend.id})}" th:text="${friend.firstName} + ' ' + ${friend.lastName}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>
