<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
    <link rel="stylesheet" th:href="@{/css/landing.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <title>Spring Security Registration</title>
    <script defer th:src="@{/js/loginval.js}"></script>
</head>
<body>
<div th:if="${param.error}">
    Invalid registration details.
</div>
<div class="center register-form">
    <h1>Register</h1>
    <form th:action="@{/register}" method="post" class="two-column-grid" id="form" novalidate>
        <div class="text_field">
            <input id="firstname" type="text" name="firstName" required>
            <span id="firstname_error"></span>
            <label for="firstname">First Name</label>
            <div class="error"></div>
        </div>
        <div class="text_field">
            <input id="lastname" type="text" name="lastName" required>
            <span></span>
            <label for="lastname">Last Name</label>
            <div class="error"></div>

        </div>
        <div class="text_field">
            <input id="email" type="email" name="email" required>
            <span></span>
            <label for="email">Email</label>
            <div class="error"></div>

        </div>
        <div class="text_field">
            <input id="username" type="text" name="username" required>
            <span></span>
            <label for="username">Username</label>
            <div class="error"></div>

        </div>
        <div class="text_field">
            <input id="password" type="password" name="password" required>
            <span></span>
            <label for="password">Password</label>
            <div class="error"></div>
        </div>
        <div class="text_field">
            <input id="password2" type="password" name="confirmPassword" required>
            <span></span>
            <label for="password2">Confirm Password</label>
            <div class="error"></div>

        </div>
        <div class="pass" style="grid-column: 1 / -1;"> <!-- Makes the submit button span all columns -->
            <input type="submit" value="Register"/>
        </div>
    </form>
    <footer>
        <img th:src="@{/img/courseXP.png}" alt="Course XP logo">
    </footer>
</div>

</body>
</html>
