<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daily Wheel Spin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/spin_design.css}">
</head>
<body>
<div class="container">
    <div class="Spin_Button" id="spinbutton">
        <div class="arrow"></div>
        Spin
    </div>
    <div class="Wheel">
        <div class="number" style="--i:1; --clr:#70dbb0;"><span>x1.5</span></div>
        <div class="number" style="--i:2; --clr:#07e295;"><span>x2</span></div>
        <div class="number" style="--i:3; --clr:#70dbd9;"><span>x1.5</span></div>
        <div class="number" style="--i:4; --clr:#10a1df;"><span>x2</span></div>
        <div class="number" style="--i:5; --clr:#05fcba;"><span>x1.5</span></div>
        <div class="number" style="--i:6; --clr:#70d6db;"><span>x2</span></div>
        <div class="number" style="--i:7; --clr:#169965;"><span>x3</span></div>
        <div class="number" style="--i:8; --clr:#09b9a8;"><span>x1.5</span></div>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="modal" id="modal">
        <div id="modal-content"></div>
        <button onclick="closeModal()">Close</button>
    </div>
    <div id="timer"></div>
</div>
<script th:src="@{/js/spinwheel.js}"></script>
</body>
</html>