
html,
* {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
:root {
    --thumb: #e9f0ff;
    --darkblue: #208bff;
}
body {
    width: 100%;
    height: auto;
}
.dropdown-menu {
    right: 0;
    left: auto;
}
.myCourse {
    display: block;
    color: #208bff;
}
.myCourse-disabled {
    display: block;
    color: #8a8a8a;
}
.centered-heading{
    color: #525252;
}
.card-actions a{
    color: #208bff;
}
.sidebar {
    position: fixed;
    transform: translateY(-50%);
    top: auto;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid black;
}
.sidebar-header{
    font-weight: bold;
    color: black;
    font-size: 20px;
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.sidebar li {
    margin-bottom: 25px;
    position: relative;

}
.sidebar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    display: block;
}
.active {
    color: #007bff !important;
    transform: translateY(-5px);


}
.sidebar a::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #007bff;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.sidebar li:hover a::after {
    opacity: 0.7;
}
.card a{
    padding-left: 15px;
}
.card h4{
    color: #464646;
    padding-left: 15px;
}
.dashboard{
    text-decoration: underline;
}
.skillsBuildTitle{
    font-family: "Bradley Hand", cursive;
    text-align: center;
    color: #208bff;
    margin-top: 8rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 215px;
    margin-left: 40px;
    max-width: 80%;
}
.category-title{
    text-align: left;
    border-bottom: 2px solid #525252;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 25px;
    color: #525252;
}
.cards{
    margin-bottom: 70px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    background: #fafcff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    scroll-snap-align: start;
}
.cards::-webkit-scrollbar {
    height: 12px;
}
.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
    border-radius: 92px;
}
.cards::-webkit-scrollbar-thumb {
    background: var(--darkblue);
}
.cards::-webkit-scrollbar-track {
    background: var(--thumb);
}
.card:hover {
    transform: translateY(-5px);
}
.card h3 {
    font-size: 22px;
    color: #525252;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.description-box {
    padding: 7px;
    background: #e5f2ff;
}
.card p {
    font-size: 16px;
    color: #525252;
    padding-left: 15px;
}
.about-language{
    font-size: 16px;
    color: #525252;
    padding-left: 15px;
    padding-top: 10px;
}
.card a {
    display: inline-block;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.progress-cards{
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 50%;
}
.card-container-progress{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.sub-header{
    color: #525252;
    text-decoration: underline;
}

@media (min-width: 500px) {
    .card {
        flex-basis: calc(50% - 10px);
    }
    .card:not(:last-child) {
        margin-right: 13px;
    }
}
@media (min-width: 700px) {
    .card {
        flex-basis: calc(calc(100% / 3) - 20px);
    }
    .card:not(:last-child) {
        margin-right: 23px;
    }
}
@media (min-width: 1100px) {
    .card {
        flex-basis: calc(33% - 30px);
    }
    .card:not(:last-child) {
        margin-right: 33px;
    }
}
