/* General Body Styles */
.dashboard-body {
    width: 100%;
    height: auto;
}

/* Header Image */
.dashboard-header-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

/* Tables and Scrollable Areas */
.dashboard-scrollable-table {
    max-height: 600px;
    overflow-y: auto;
}

.dashboard-sticky-header {
    position: sticky;
    top: 0;
}

/* Table Styling */
.dashboard-table {
    border-collapse: collapse;
    width: 100vw;
}

.dashboard-th {
    background: #f9fafb;
}

/* Dropdown Menu */
.dashboard-dropdown-menu {
    right: 0;
    left: auto;
}

/* Links */
.dashboard-course-link {
    display: block;
    color: #007bff;
}

/* Titles and Headings */
.dashboard-main-title {
    margin-top: 6%;
    margin-bottom: 2rem;
}

.dashboard-centered-heading {
    color: #3f3f3f;
}

/* Navigation and Links */
.dashboard-nav-link {
    color: #007bff;
}

.dashboard-active {
    text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .dashboard-container {
        width: 95%;
        margin: 20px auto;
    }

    .dashboard-title-small {
        padding: 15px;
    }

    .dashboard-small-table-cell {
        padding: 10px;
    }

    .dashboard-header-img-small {
        max-width: 50%;
    }
}
