
html,
body {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.header-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 15px;
}

.scrollable-table {
    max-height: 600px;
    overflow-y: auto;
    margin-top: 20px;
}

.scrollable-table thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    width: 100vw;
}

th {
    background: #f9fafb;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.myCourse {
    display: block;
}

.skillsBuildTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
