* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    min-height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.captionText {
    font-family: DIN Alternate, sans-serif;
    line-height: 1;
    font-size: 50px;
    margin-left: 120px;
    margin-top: 120px;
    margin-bottom: 9px;
}

.right-image {
    position: absolute;
    top: 500px;
    right: 0;
    width: 700px;
    height: auto;
}

h2 {
    font-family: "Bradley Hand", sans-serif;
    line-height: 0;
    font-size: 47px;
    margin-left: 120px;
    color: cornflowerblue;
}

h3,
a {
    color: #e8e8e8;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    font-family: "Avenir Next", sans-serif;
    font-size: 17px;
    padding: 20px 40px;
    margin-left: 120px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.button:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}


.button-container {
    display: flex;
    justify-content: flex-start;
}

.already-account {
    background-color: black;
    margin-left: 2rem;
}

.already-account:hover {
    background-color: #3f3f3f;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}




