.container {
    width: 80%; /* Adjusted width for better spacing */
    margin: 10rem auto; /* Added more margin to the top for spacing */
    text-align: center;
    flex-grow: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.1); /* Added shadow for modern feel */
    border-radius: 10px; /* Rounded corners for the container */
    overflow: hidden; /* Ensures the border-radius clips the table */
}

h1 {
    background: #022258;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ffffff30; /* Subtle separation from table */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0; /* Removed margin to align with modern design */
    font-family: "Hiragino Sans GB", Arial, sans-serif;
    text-align: center; /* Center align table text */
}

thead th {
    background-color: #3498db; /* Lighter blue for a modern look */
    color: white;
    border: none; /* Removed borders for a cleaner look */
    padding: 15px;
    text-align: center;
    font-size: 18px; /* Larger font for readability */
}

tbody td {
    border: none; /* Removed cell borders for a cleaner look */
    padding: 15px;
    font-size: 16px; /* Slightly smaller font than header */
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f0f0f0;
    cursor: pointer; /* Indicates the row is interactive */
}

.highlighted {
    background-color: #064369 !important;
    color: white; /* Ensures text is readable on the highlight */
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 20%;
    display: block;
    margin: 500px auto 0;
}

.image-sticky-bottom {
    position: fixed; /* Fixed position relative to the viewport */
    bottom: 0;      /* Align to the bottom */
    left: 0;        /* Align to the left */
    width: 100%;    /* Full width */
    text-align: center; /* Center the image */
}

.image-sticky-bottom img {
    max-width: 100px; /* Set a maximum width for the image */
    height: auto;     /* Maintain aspect ratio */
}



/* Added media query for responsive design */
@media (max-width: 768px) {
    .container {
        width: 95%; /* Full width on smaller screens */
        margin: 20px auto; /* Less margin on smaller screens */
    }

    h1 {
        padding: 15px; /* Smaller padding on smaller screens */
    }

    thead th, tbody td {
        padding: 10px; /* Smaller padding in table cells on smaller screens */
    }

    .image-container img {
        max-width: 50%; /* Larger image on smaller screens */
    }
}
