.lead-container {
    width: 80%;
    margin: 10rem auto;
    text-align: center;
    flex-grow: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.lead-title {
    background: #022258;
    color: white;
    font-size: 30px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #ffffff30;
}

.lead-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
    font-family: "Hiragino Sans GB", Arial, sans-serif;
    text-align: center;
}

.lead-thead-th {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}

.lead-tbody-td {
    border: none;
    padding: 15px;
    font-size: 16px;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; /* Light color for odd rows */
}

tbody tr:nth-child(even) {
    background-color: #e3e3e3; /* Slightly darker color for even rows */
}

.lead-tbody-tr-hover:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.lead-highlighted {
    background-color: #064369 !important;
    color: white;
}

.lead-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.lead-image {
    max-width: 20%;
    display: block;
    margin: 500px auto 0;
}

.lead-image-sticky {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.lead-image-sticky img {
    max-width: 100px;
    height: auto;
}

.lead-leaderboard {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .lead-container {
        width: 95%;
        margin: 20px auto;
    }

    .lead-title {
        padding: 15px;
    }

    .lead-thead-th, .lead-tbody-td {
        padding: 10px;
    }

    .lead-image-container img {
        max-width: 50%;
    }
}
