.modal {
    position: fixed;
    top: 80%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    max-width: 600px;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    overflow: auto;
}

.modal-box {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */

    width: 100%;
    height: 100%;
}

iframe{
    width: 1300%;
    height: 100%;
    border: none;
}


.modal-backdrop button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.modal-backdrop button:hover {
    background-color: #ccc;
}